﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebApplication1._Default" %>


<asp:Content ID="headingDefault" ContentPlaceHolderID="Heading" runat="server">
    <h1>Web Application And Development</h1>
    <div id="image1">
    <img src="images/web%20development%20image.jpg" />
        </div>
</asp:Content>



<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
      
      
     
    <div class="row">
        
            <h2> JavaScipt</h2>
            <p>
               JavaScript is the programming language of HTML and the Web.JavaScript to program the behavior of web pages.

            </p>
            <%--<p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
            </p>--%>
            <%--<p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
            </p>--%>
     
        
    </div>
</asp:Content>

<asp:Content ID="iwroteDefault" ContentPlaceHolderID="MyCode" runat="server">
     <h2>SQL</h2>
            <p>SQL stands for Structured Query Language.
                SQL is a standard language for storing, manipulating and retrieving data in databases.

            </p>
           

    
</asp:Content>

 <asp:Content ID="ifoundDefault" ContentPlaceHolderID="ExampleCode" runat="server">
     <h2>HTML</h2>
            <p>
               HTML is the standard markup language for creating Web pages.

                        HTML stands for Hyper Text Markup Language<br />
                        HTML describes the structure of Web pages using markup<br />
                        HTML elements are the building blocks of HTML pages
            </p>
          
                 </asp:Content>