﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="WebApplication1.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> -Web Application And Development</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <asp:ContentPlaceHolder ID="sitecss" runat="server">
        <link rel="stylesheet" href="css/StyleSheet1.css" />
    </asp:ContentPlaceHolder>

</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" href="~/">Web Development</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a runat="server" href="~/JavaScript">JavaScript</a></li>
                        <li><a runat="server" href="~/SQL">SQL</a></li>
                        <li><a runat="server" href="~/HTML">HTML</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">

            <div class="row">
                <div class="col-md-12 col-xm-12">
                <asp:ContentPlaceHolder ID="Heading" runat="server">

                </asp:ContentPlaceHolder>
                </div>
            </div>
            
          <%--i chaged layout structure in assignment2b--%>
            
            <div class="row">

                <div class="col-md-6 col-xm-12">
                 <asp:ContentPlaceHolder ID="MainContent" runat="server">
                 </asp:ContentPlaceHolder>

               </div>
            <div class="col-md-6 col-xm-12">
                <asp:ContentPlaceHolder ID="MyCode"  runat="server">

                </asp:ContentPlaceHolder>
            </div>
                </div>
        
            <%--  This layout structure is for assignment2a--%>

           <%--<div class="row">
           

                <div class="col-md-4 col-xm-12">
                 <asp:ContentPlaceHolder ID="MainContent" runat="server">
                 </asp:ContentPlaceHolder>

               </div>
            <div class="col-md-4 col-xm-12">
                <asp:ContentPlaceHolder ID="MyCode"  runat="server">

                </asp:ContentPlaceHolder>
            </div>
              
          
             <div class="col-md-4 col-xm-12">
                 <asp:ContentPlaceHolder ID="ExampleCode" runat="server">

                 </asp:ContentPlaceHolder>
            </div>
           </div>--%>
            <div class="row">

                <div class="col-md-6 col-xm-12">
                 <asp:ContentPlaceHolder ID="ExampleCode" runat="server">

                 </asp:ContentPlaceHolder>
            </div>

            <div class="col-md-6 col-xm-12">
                <asp:ContentPlaceHolder ID="Link" runat="server">

                </asp:ContentPlaceHolder>
            </div>

            </div>
               
               
               
               <hr />
            <footer>
                <p>&copy; <%: DateTime.Now.Year %> -Humber College</p>
            </footer>
        </div>

    </form>
</body>
</html>
